body {
	//background-color:red;
	color:blue;
	font-family: 'Quicksand', sans-serif;

	header{
		.navbar-nav {
			width: 100%;
			text-align: center;
			> li {
				float: none;
				display: inline-block;
			}
		}

		.navbar-default{
			background-color: #565656;
			border-color: #565656;
			margin:0;

			.navbar-nav>li>a{
				color: #dedede;
				font-family: 'Quicksand', sans-serif;
				font-weight: bold;	

				&.active{
					color: white;
				}
			}

			.navbar-nav>li>a:hover{
				color: white;	
			}
		}
	}

	.imgCarousel{
		width: 100%;
	}

	.imgMainImage{
		width: 100%;
		max-height: 400px;
		min-height: 200px;
		object-fit: cover;
	}

	.containerGrayBackground{
		background-color: #f2f2f2;
		margin-top: 5px;
	}

	.containerWithSpecialWidth{
		max-width: 850px;
		//padding: 0 50px 0 50px;
		//background-color: #f2f2f2;
		flex-wrap: wrap;


		h1{
			margin: 50px 10px 0 10px;
			color: #565656;
			//text-transform: capitalize;
		}

		p{
			color: #565656;
			margin: 30px 10px 0 10px;
		}

		a{
			text-decoration: none;

			.expositionRow{
				//background-color: #a2a2a2;
				height: 250px;
				width: 100%;
				display: flex;
				justify-content: flex-start;

				img{
					height: 70%;
					width: 250px;
					object-fit: cover;
					margin:2em;
				}

				.expositionLabel{
					//background-color: #bebebe;
					width: 100%;
					height: 70%;
					margin: 2em 2em 2em 0;
					display: flex;
					justify-content: flex-start;
					position: relative;
						flex-wrap: wrap;

					.expositionLabelArtistName{
						font-size: 2.3em;
						margin: 0 0.3em 0.3em 0.3em;
						color: black;

					}

					.expositionLabelYear{
						font-size: 2.3em;
						margin: 0 0.5em 0.3em 0.5em;
						color: #979797;
						position:relative;

						&:before{
							position:absolute;
							height: 30px;
							width: 2px;
							background-color: #979797;
							content:'';
							left: -10px;
							margin-top: 5px;
						}

						&:after{
							position:absolute;
							height: 30px;
							width: 2px;
							background-color: #979797;
							content:'';
							right: -10px;
							margin-top: 5px;
						}
					}

					.expositionLabelCountry{
						font-size: 2.3em;
						margin: 0 0.3em 0.3em 0.3em;
						color: #979797;
					}

					.expositionLabelName{
						color: #797979;
						margin: 0 0.3em 0.3em 0.3em;
						font-size: 2.3em;
						margin-top: -2.2em;
						
					}

					.expositionLabelDate{
						position: absolute;
						bottom: 0;
						color: red;
						margin: 0 0.3em 0.3em 0.3em;
						font-size: 1.5em;
					}
				}
			}
		}



		.flex-container{
			//background-color: #e3e3e3;

			.pageMap{
				list-style: none;
				padding: 5px;
				margin-top: 10px;
				padding: 10px;
				//background-color: #c9c9c9;
				justify-content: space-between;
				width: 24%;
				height: 210px;

				position: relative;


				.pageMapCell{
					//background-color: #bababa;
					margin-bottom: 5px;
					color: #858585;

					a{
						color: #858585;
						text-transform: none;
						text-decoration: none;
					}
					&.pageMapCellBold{

						a{
							color: black;
						}
						font-weight: bold;	
					}

					&.pageMapCellBoldDown{
						position: absolute;
						bottom: 0;
						font-weight: bold;	

						a{
							color: black;
						}
					}		
				}
			}

			.partners{

				width: 100%;
				padding: 0;

				.partner{
					//font-weight: bold;
					//background-color: #bababa;
					color: #535353;
					font-size: 12px;
					width: 100%;
					margin: 30px 0 0 0;
					display: flex;
					justify-content: center;
				}

				.logos{
					//background-color: #cecece;
					margin: 1% 5% 1% 5%;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;

					.logo{
						margin: 5px 20px 5px 20px;
					}
				}
			}

			footer{
				width: 100%;
				padding: 10px;
				//background-color: #cecece;
				margin-bottom: 30px;
				display: flex;
				justify-content: space-between;

				.footerText{
					//background-color: #bebeb5;
					color: black;
					font-weight: bold;	
					font-size: 12px;
				}

				.footerLogos{
					display: flex;
					justify-content: flex-end;
					//background-color: #ceceab;

					.logo{
						margin-left:1em;
					}
				}
			}
		}
	}

	.flex-container {
		display: flex;
		justify-content: space-between;
		//background-color: DodgerBlue;

		.container-left-align{
			text-align: left;
			color: red;
			font-size: 25px;
		}

		.container-right-align{
			text-align: right;
			color: black;
			font-size: 25px;
		}
	}

	.subMenuBig{	
		display: flex;
		//justify-content: space-evenly;
		justify-content: center;
		flex-wrap: wrap ;
		margin: 20px 0 30px 0;

		a{
			color: #565656;
			text-decoration: none;	
			margin: 0 25px 0 25px;
			text-transform: uppercase;

			font-size: 2.5em;
			@media screen and (max-width: 350px) {
				font-size: 1.7em;
			}
		}

		a:hover{
			color: #d80000;
		}

		a.active{
			color: red;
		}
	}

	.subMenuSmall{	
		display: flex;
		justify-content: center;
		flex-wrap: wrap ;
		//background-color: #f1f1f1;
		margin: 10px;

		a{
			color: #565656;
			text-decoration: none;	
			font-size: 1em;
			font-weight: bold;	
			margin: 0 15px 0 15px;
		}

		a:hover{
			color: #d80000;
		}

		a.active{
			color: red;
		}
	}


	.flex-container > div {
		//background-color: #f1f1f1;
		margin: 10px;
		font-size: 18px;
	}

	.column-home-tiles{
		//background-color: red;
		display: flex;
		justify-content: space-between;

		.home-tile{
			//background-color: red;
			margin: 3px;
			font-size: 18px;

			img{
				width:100%;
			}
			img:hover{
				opacity: 0.7; 
			}
		}
	}

	.column-subpage-tiles{ // 
		//background-color: red;
		display: flex;
		justify-content: space-between;

		.home-tile{
			//background-color: red;
			margin: 3px;
			font-size: 18px;

			img{
				width:100%;
				height: 100%;
				object-fit: cover;
			}
			img:hover{
				opacity: 0.7; 
			}

		}
	}

	.rowMargin0{
		margin: 80px 0 0 0;
	}

}