body {
	//background-color:red;
	color:blue;

	header{
		.navbar-nav {
			width: 100%;
			text-align: center;
			> li {
				float: none;
				display: inline-block;
			}

			.a:hover {
				background-color: yellow;
			}
		}

		.navbar-default{
			background-color: #565656;
			border-color: #565656;
			margin:0;

			.navbar-nav>li>a{
				color: #dedede;
				font-family: "Arial", Times, serif;
			}
		}
	}

	.imgCarousel{
		width: 100%;
	}

	.containerGrayBackground{
		background-color: #f2f2f2;
		margin-top: 5px;
	}

	.containerWithSpecialWidth{
		max-width: 850px;
		//background-color: #f2f2f2;

		.flex-container{
			//background-color: #e3e3e3;

			.pageMap{
				list-style: none;
				padding: 5px;
				margin-top: 10px;

				//background-color: #c9c9c9;
				justify-content: space-between;
				width: 24%;
				height: 210px;

				position: relative;


				.pageMapCell{
					//background-color: #bababa;
					margin-bottom: 5px;
					color: #858585;

					a{
						color: #858585;
						text-transform: none;
						text-decoration: none;
					}
					&.pageMapCellBold{

						a{
							color: black;
						}
						font-weight: bold;	
					}

					&.pageMapCellBoldDown{
						position: absolute;
						bottom: 0;
						font-weight: bold;	

						a{
							color: black;
						}
					}		
				}
			}
		}
	}

	.flex-container {
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		//background-color: DodgerBlue;

		.container-left-align{
			text-align: left;
			color: red;
		}

		.container-right-align{
			text-align: right;
			color: black;
		}
	}

	.flex-container > div {
		//background-color: #f1f1f1;
		margin: 10px;
		font-size: 18px;
	}

	.column-home-tiles{
		//background-color: red;
		display: flex;
		justify-content: space-between;

		.home-tile{
			//background-color: red;
			margin: 3px;
			font-size: 18px;

			img{
				width:100%;
			}
		}
	}

	.rowMargin0{
		margin:0;
	}

}