body {
  color: blue;
  font-family: 'Quicksand', sans-serif; }
  body .lSSlideOuter .lSPager.lSGallery {
    display: none; }
  body nav .container {
    display: flex;
    justify-content: center; }
  body nav .danubianaNavLogo {
    width: 30px;
    height: 100%; }
  body nav .danubianaNavFlag {
    width: 20px;
    height: 100%; }
  body .container-fluid > .navbar-collapse, body .container-fluid > .navbar-header, body .container > .navbar-collapse, body .container > .navbar-header {
    margin-right: 0px; }
  body .navbar {
    border-radius: 0px !important;
    margin-bottom: 0;
    font-size: 0.9em;
    font-weight: bold;
    background-color: #565656;
    border-style: none; }
  body .navbar-inverse .navbar-nav > .active > a, body .navbar-inverse .navbar-nav > .active > a:focus, body .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #565656; }
  body .navbar-inverse .navbar-nav > li > a {
    color: #d2d2d2; }
  body .imgCarousel {
    width: 100%; }
  body .imgMainImage {
    width: 100%;
    max-height: 400px;
    min-height: 200px;
    object-fit: cover; }
  body .containerGrayBackground {
    background-color: #f2f2f2;
    margin-top: 5px; }
  body .containerWithSpecialWidth {
    max-width: 850px;
    flex-wrap: wrap; }
    body .containerWithSpecialWidth h1 {
      margin: 50px 10px 0 10px;
      color: #565656;
      display: flex; }
      body .containerWithSpecialWidth h1.expositionName {
        color: black;
        justify-content: center;
        text-transform: uppercase; }
      body .containerWithSpecialWidth h1.expositionDate {
        margin: 10px;
        color: red;
        justify-content: center;
        text-transform: uppercase;
        font-size: 1.2em;
        font-weight: bold; }
      body .containerWithSpecialWidth h1.expositionDescription {
        margin: 10px 10px 0 10px;
        color: #565656;
        justify-content: center;
        font-size: 1.1em;
        font-weight: bold; }
    body .containerWithSpecialWidth p {
      color: #565656;
      margin: 30px 10px 0 10px; }
    body .containerWithSpecialWidth a {
      text-decoration: none; }
      body .containerWithSpecialWidth a .expositionRow {
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: flex-start; }
        body .containerWithSpecialWidth a .expositionRow img {
          height: 70%;
          width: 250px;
          object-fit: cover;
          margin: 2em; }
        body .containerWithSpecialWidth a .expositionRow .expositionLabel {
          width: 100%;
          height: 70%;
          margin: 2em 2em 2em 0;
          display: flex;
          justify-content: flex-start;
          position: relative;
          flex-wrap: wrap; }
          body .containerWithSpecialWidth a .expositionRow .expositionLabel .expositionLabelArtistName {
            font-size: 2.3em;
            margin: 0 0.3em 0.3em 0.3em;
            color: black; }
          body .containerWithSpecialWidth a .expositionRow .expositionLabel .expositionLabelYear {
            font-size: 2.3em;
            margin: 0 0.5em 0.3em 0.5em;
            color: #979797;
            position: relative; }
            body .containerWithSpecialWidth a .expositionRow .expositionLabel .expositionLabelYear:before {
              position: absolute;
              height: 30px;
              width: 2px;
              background-color: #979797;
              content: '';
              left: -10px;
              margin-top: 5px; }
            body .containerWithSpecialWidth a .expositionRow .expositionLabel .expositionLabelYear:after {
              position: absolute;
              height: 30px;
              width: 2px;
              background-color: #979797;
              content: '';
              right: -10px;
              margin-top: 5px; }
          body .containerWithSpecialWidth a .expositionRow .expositionLabel .expositionLabelCountry {
            font-size: 2.3em;
            margin: 0 0.3em 0.3em 0.3em;
            color: #979797; }
          body .containerWithSpecialWidth a .expositionRow .expositionLabel .expositionLabelName {
            color: #797979;
            margin: 0 0.3em 0.3em 0.3em;
            font-size: 2.3em;
            margin-top: -2.2em; }
          body .containerWithSpecialWidth a .expositionRow .expositionLabel .expositionLabelDate {
            position: absolute;
            bottom: 0;
            color: red;
            margin: 0 0.3em 0.3em 0.3em;
            font-size: 1.5em; }
    body .containerWithSpecialWidth .transportIcons {
      display: flex;
      justify-content: space-around;
      margin: 2em 0 2em 0; }
      body .containerWithSpecialWidth .transportIcons img {
        width: auto;
        height: 40px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.5;
        filter: alpha(opacity=50);
        /* For IE8 and earlier */ }
      body .containerWithSpecialWidth .transportIcons .active {
        -webkit-filter: grayscale(0%) !important;
        /* Safari 6.0 - 9.0 */
        filter: grayscale(0%) !important;
        opacity: 1;
        filter: alpha(opacity=1);
        /* For IE8 and earlier */ }
    body .containerWithSpecialWidth .contactContainer {
      display: flex;
      justify-content: space-between;
      margin: 30px 0 30px 0; }
      body .containerWithSpecialWidth .contactContainer .contactCellLeft, body .containerWithSpecialWidth .contactContainer .contactCellRight {
        padding: 5px 15px 5px 15px;
        font-size: 15px;
        font-weight: bold; }
        body .containerWithSpecialWidth .contactContainer .contactCellLeft .contactLabel, body .containerWithSpecialWidth .contactContainer .contactCellRight .contactLabel {
          color: black; }
          body .containerWithSpecialWidth .contactContainer .contactCellLeft .contactLabel.redLabel, body .containerWithSpecialWidth .contactContainer .contactCellRight .contactLabel.redLabel {
            color: red; }
        body .containerWithSpecialWidth .contactContainer .contactCellLeft .contactText, body .containerWithSpecialWidth .contactContainer .contactCellRight .contactText {
          color: #959595;
          margin-top: 7px; }
      body .containerWithSpecialWidth .contactContainer .contactCellLeft {
        width: 55%; }
      body .containerWithSpecialWidth .contactContainer .contactCellRight {
        width: 45%; }
    body .containerWithSpecialWidth .separator {
      height: 1px;
      width: 100%;
      background-color: #a2a2a2;
      margin: 50px 0 50px 0; }
    body .containerWithSpecialWidth .flex-container .pageMap {
      list-style: none;
      padding: 5px;
      margin-top: 10px;
      padding: 10px;
      justify-content: space-between;
      width: 24%;
      height: 210px;
      position: relative; }
      body .containerWithSpecialWidth .flex-container .pageMap .pageMapCell {
        margin-bottom: 5px;
        color: #858585; }
        body .containerWithSpecialWidth .flex-container .pageMap .pageMapCell a {
          color: #858585;
          text-transform: none;
          text-decoration: none; }
        body .containerWithSpecialWidth .flex-container .pageMap .pageMapCell.pageMapCellBold {
          color: black;
          font-weight: bold; }
        body .containerWithSpecialWidth .flex-container .pageMap .pageMapCell.pageMapCellBoldDown {
          position: absolute;
          bottom: 0;
          font-weight: bold; }
          body .containerWithSpecialWidth .flex-container .pageMap .pageMapCell.pageMapCellBoldDown a {
            color: black; }
    body .containerWithSpecialWidth .flex-container .partners {
      width: 100%;
      padding: 0; }
      body .containerWithSpecialWidth .flex-container .partners .partner {
        color: #535353;
        font-size: 12px;
        width: 100%;
        margin: 30px 0 0 0;
        display: flex;
        justify-content: center; }
      body .containerWithSpecialWidth .flex-container .partners .logos {
        margin: 1% 5% 1% 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        body .containerWithSpecialWidth .flex-container .partners .logos .logo {
          margin: 5px 20px 5px 20px; }
    body .containerWithSpecialWidth .flex-container footer {
      width: 100%;
      padding: 10px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between; }
      body .containerWithSpecialWidth .flex-container footer .footerText {
        color: black;
        font-weight: bold;
        font-size: 12px; }
      body .containerWithSpecialWidth .flex-container footer .footerLogos {
        display: flex;
        justify-content: flex-end; }
        body .containerWithSpecialWidth .flex-container footer .footerLogos .logo {
          margin-left: 1em; }
    body .containerWithSpecialWidth .entranceLabel {
      padding: 0 25% 0 25%;
      margin-top: 30px; }
      body .containerWithSpecialWidth .entranceLabel .label {
        margin-top: -20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        body .containerWithSpecialWidth .entranceLabel .label p {
          font-size: 15px; }
  body .flex-container {
    display: flex;
    justify-content: space-between; }
    body .flex-container .container-left-align {
      text-align: left;
      color: red;
      font-size: 25px; }
    body .flex-container .container-right-align {
      text-align: right;
      color: black;
      font-size: 25px; }
  body .subMenuBig {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 30px 0; }
    body .subMenuBig a {
      color: #565656;
      text-decoration: none;
      margin: 0 25px 0 25px;
      text-transform: uppercase;
      font-size: 2.5em; }
      @media screen and (max-width: 350px) {
        body .subMenuBig a {
          font-size: 1.7em; } }
    body .subMenuBig a:hover {
      color: #d80000; }
    body .subMenuBig a.active {
      color: red; }
  body .subMenuSmall {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    text-transform: uppercase; }
    body .subMenuSmall a {
      color: #565656;
      text-decoration: none;
      font-size: 1em;
      font-weight: bold;
      margin: 0 15px 0 15px; }
    body .subMenuSmall a:hover {
      color: #d80000; }
    body .subMenuSmall a.active {
      color: red; }
  body .flex-container > div {
    margin: 10px;
    font-size: 18px; }
  body .column-home-tiles {
    display: flex;
    justify-content: space-between; }
    body .column-home-tiles .home-tile {
      margin: 3px;
      font-size: 18px; }
      body .column-home-tiles .home-tile img {
        width: 100%; }
      body .column-home-tiles .home-tile img:hover {
        opacity: 0.7; }
  body .column-subpage-tiles {
    display: flex;
    justify-content: space-between; }
    body .column-subpage-tiles .home-tile {
      margin: 3px;
      font-size: 18px; }
      body .column-subpage-tiles .home-tile img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      body .column-subpage-tiles .home-tile img:hover {
        opacity: 0.7; }
  body .rowMargin0 {
    margin: 80px 0 0 0; }
  body .lightSlider img {
    height: 300px; }
    body .lightSlider img.bigger {
      width: 100%; }
  body #sliderBottom {
    margin: 0 0 0 0; }
  body form {
    background-color: #e1e1e1;
    padding: 50px 0 50px 0; }
    body form .form-group {
      padding: 0 15% 0 15%;
      color: black;
      display: flex;
      justify-content: space-between; }
      body form .form-group input {
        width: 80%; }
      body form .form-group label {
        margin-right: 20px; }
    body form .form-check {
      display: flex;
      justify-content: center;
      color: black; }
      body form .form-check input {
        margin: 4px 15px 0 15px; }
    body form .buttons {
      display: flex;
      justify-content: center;
      margin: 15px;
      flex-wrap: wrap; }
      body form .buttons button {
        margin: 5px 20px;
        min-width: 180px; }
    body form p {
      display: flex;
      justify-content: center; }
  body .clubCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    body .clubCards .card {
      margin: 10px;
      max-width: 222px; }
      body .clubCards .card .image img {
        height: 130px;
        width: auto;
        border: 1px solid black;
        border-radius: 5px; }
      body .clubCards .card .price {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px; }
        body .clubCards .card .price .priceText {
          color: #797979;
          font-size: 2.5em;
          margin-left: 10px; }
      body .clubCards .card .label {
        color: black;
        font-size: 1em; }
        body .clubCards .card .label p {
          margin-top: -15px; }

/*# sourceMappingURL=style.css.map */
